{% extends 'productos.html' %}

{% block contenido %}

<form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    <fieldset>

        <div class="form-group">
            <label for="producto">Nombre del producto</label>
            <input type="text" class="form-control" id="producto" name="nombre">
        </div>

        <div class="form-group">
            <label for="Cantidad">Cantidad</label>
            <input type="number" class="form-control" id="Cantidad" name="cantidad">
        </div>

        <div class="form-group">
            <label for="Precio">Precio unitario</label>
            <input type="number" class="form-control" id="Precio" name="precio">
        </div>

        <div class="form-group">
            <label for="Categoria">Categoria</label>
            <input type="text" class="form-control" id="Categoria" name="categoria">
        </div>

    </fieldset>


    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock contenido %}