<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">LaTienda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="{% url 'home' %}">Inicio</a>
                <a class="nav-link" href="{% url 'productos' %}">Lista de Productos</a>
            </div>
        </div>
    </nav>



    <div class="container">

        {% block contenido %}
        <table class="table table-striped table-dark mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for elemento in lista %}
                <tr>
                    <th scope="row">{{ elemento.id }}</th>
                    <td>{{ elemento.nombre }}</td>
                    <td>{{ elemento.cantidad }}</td>
                    <td>{{ elemento.precio }}</td>
                    <td>{{ elemento.categoria }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'modificar' elemento.id %}" type="button" class="btn btn-secondary">Modificar</a>
                            <a href="{% url 'eliminar' elemento.id %}" type="button" class="btn btn-secondary">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock contenido %}
    </div>






</body>

</html>